extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 Bienvenido
        a(href="/login" class="right-space btn btn-primary") Iniciar sesion
        a(href="/signup" class="right-space btn btn-primary") Registro